<nav class="navbar navbar-static-top navbar-inverse">
<div class="container-fluid">
  <div class="nav navbar-header">
    <a class="navbar-brand color-gold">Sound of Network</a>
  </div>
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-6">
    <ul class="nav navbar-nav">
      <li><a href="#/">Home</a></li>
      <li><a href="#/about">About</a></li>
      <li><a href="#/">Contact</a></li>
      <li><a href="#/project/list">Project List</a></li>
      <li><a href="#/user/list">User List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-top-links navbar-right">
      <li><a ng-href="#"><span class="glyphicon glyphicon-bell color-gold icon-size-xl"></span></a></li>
    </ul>
  </div>
</div>
</nav>
