<acme-navbar></acme-navbar>

<div class="row main-content">
  <div class="col-sm-3 col-sm-2 main-right">
    <acme-sidebar></acme-sidebar>
  </div>
  <div class="container col-lg-9 col-md-9 col-sm-6 main-section">
    <h3>あなたに来ている依頼</h3>
    <hr>
    <button type="button" ng-hide="request.response" class="btn btn-warning" ng-click="response(1)">承認する</button>
    <button type="button" ng-hide="request.response" class="btn btn-danger" ng-click="response(2)">否認する</button>
    <div class="well" ng-show="request.response">{{request.responseStatus}}</div>
    <hr>
    <div class="panel panel-primary">
      <div class="panel-heading"><b>{{request.fromUserId}}</b>さんからあなたへ依頼がきました</div>
      <div class="panel-body">
        {{request.message}}
      </div>
    </div>
  </div>
</div>

<acme-footer></acme-footer>
