<h4><span class="glyphicon glyphicon-music link-section-icon color-orange"></span>
あなたに来ている依頼</h4>
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="req in receiveRequests">
    <div class="thumbnail">
      <img class="pull-right" ng-src="assets/images/jasmine.png" alt="">
      <div class="caption">
        <h3>{{req.from_user_id}}さんからあなたへの依頼</h3>
        <p>{{req.to_user_id}}</p>
        <p><a ng-href="#/request/detail/recive/{{req.requests_id}}">詳細</a></p>
      </div>
    </div>
  </div>
</div>

<h4><span class="glyphicon glyphicon-music link-section-icon color-orange"></span>
あなたが送った依頼</h4>
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="req in sendRequests">
    <div class="thumbnail">
      <img class="pull-right" ng-src="assets/images/jasmine.png" alt="">
      <div class="caption">
        <h3>{{req.to_user_id}}への依頼</h3>
        <p>{{req.from_user_id}}</p>
        <p><a ng-href="#/request/detail/send/{{req.requests_id}}">詳細</a></p>
      </div>
    </div>
  </div>
</div>
