<acme-navbar></acme-navbar>

<div class="row main-content">
  <div class="col-sm-3 col-sm-2 main-right">
    <acme-sidebar></acme-sidebar>
  </div>
  <div class="container col-lg-9 col-md-9 col-sm-6 main-section">
    <h3>Projects</h3>
    <button ng-click="go('/project/create')" class="btn btn-warning pull-right" style="margin-bottom:20px">Create Project</button>
    <hr style="clear:right">
    <div class="panel panel-primary" ng-repeat="project in projects.projects">
      <div class="panel-heading">
        <h5 class="panel-title">{{project.name}}</h5>
      </div>
      <div class="panel-body">
        プロジェクトのゴール：{{project.goal_description}}<br>
        進捗状況：50%<br>
        公開/非公開：公開{{project.access}}<br>
        応援された数：{{project.good_sum}}<br>
        集めたお金： 100,000ポイント<br>
        参加メンバー：abscsdafa, adfasfasfaf, asdfadfa...<br>
        <a href="#/project/detail/{{project.id}}">detail</a>
      </div>
    </div>
  </div>
</div>

<acme-footer></acme-footer>
