<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>May the Music be with you.</h1>
    <p class="lead">
    <button type="button" class="btn btn-success btn-lg" ng-click="go('/signup')">Let's sign up</button>
    <button type="button" class="btn btn-info btn-lg" ng-click="go('/login')">Sign in</button>
    </p>
    <p>
      Social Matching with <acme-malarkey extra-values="['Musician', 'Sound Engineer', 'Producer', 'Livehouse Owner']"></acme-malarkey>.
    </p>
  </div>

  <h1>注目のプロジェクト</h1>
  <hr>
  <p class="text-right"><a href="/#/project/list">もっと見る...</a></p>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

  <h1>注目のユーザー</h1>
  <hr>
  <p class="text-right"><a href="/#/user/list">もっと見る...</a></p>

</div>
