html, body {
  position: relative;
  min-height: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.container .text-muted {
  min-height: 100%;
  margin: 20px 0;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.main-content {
  width: 100%;
  position: relative;
  height: auto !important;    /* IE6対策 */
  height: 100%;             /* IE6対策 */
  min-height: 100%;
  overflow:hidden;
}

.main-right {
  height: 100%;             /* IE6対策 */
  min-height: 100%;
}

.main-section {
  height: 100%;             /* IE6対策 */
  min-height: 700px;
}

.jumbotron {
   background: url("/assets/images/main.jpg");
   background-position: center center;
   background-size: cover;
   color: #fff;
}

.btn-lg, .btn-group-lg > .btn {
  font-size: 25px;
}
