<div class="col-sm-3 col-md-2 sidebar">
  <div class="user-section text-center">
    <div class="user-section-img"><img src="assets/images/icon_128.png" alt="sound of network icon" class="img-circle"></div>
    <div class="user-section-name"><h3>username</h3></div>
  </div>
  <hr class="nav-border">
  <ul class="nav nav-sidebar link-section">
    <li><div class="link-section-icon"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span><a href="#">Profile</a></div></li>
    <li><a href="#">Project</a></li>
    <li><a href="#">Setting</a></li>
  </ul>
</div>
