.sidebar {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #E1E8EC;
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 0px;
  z-index: 0;
  display: block;
  font-size: 16px;
}

.sidebar a {
  color: #000000;
}


.nav-border {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  margin-top: 0px;
}

.user-section {
  padding: 10px;
}

.user-section-img img {
  width: 100px;
  height: 100px;
}

.link-section {
  text-align: center;
  font-size: 20px;
}

.link-section a {
  padding-left: 10px;
}

.acme-sidebar-text {
}
