.sidebar {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #E1E8EC;
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 0px;
  z-index: 0;
  display: block;
  font-size: 16px;
}

.sidebar a {
  color: #000000;
}


.acme-sidebar-text {
}
