<div class="col-sm-6 col-md-4 sidebar">
  <div class="user-section text-center">
    <div class="user-section-img"><img src="assets/images/icon_128.png" alt="sound of network icon" class="img-circle"></div>
    <div class="user-section-name"><h3>username</h3></div>
  </div>
  <hr class="nav-border">
  <div class="search-section form-inline">
    <span class="glyphicon glyphicon-search link-section-icon color-orange search-icon" aria-hidden="true"></span>
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <hr class="nav-border">
  <ul class="nav nav-sidebar link-section ">
    <li class="text-left">
      <a href="#/mypage">
        <span class="glyphicon glyphicon-headphones link-section-icon color-orange" aria-hidden="true"></span>
        Dashboard
      </a>
    </li>
    <li class="text-left">
      <a href="#/profile">
        <span class="glyphicon glyphicon-cd link-section-icon color-orange" aria-hidden="true"></span>
        Profile
      </a>
    </li>
    <li class="text-left">
      <a href="#/projects">
        <span class="glyphicon glyphicon-tasks link-section-icon color-orange" aria-hidden="true"></span>
        Projects
      </a>
    </li>
    <li class="text-left">
      <a href="#/requests">
        <span class="glyphicon glyphicon-music link-section-icon color-orange" aria-hidden="true"></span>
        Requests
      </a>
    </li>
    <li class="text-left">
      <a href="#/setting">
        <span class="glyphicon glyphicon-cog link-section-icon color-orange" aria-hidden="true"></span>
        Setting
      </a>
    </li>
  </ul>
</div>
