.sidebar {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #DEDAAA;
  position: relative;
  width: 100%;
  top: 0px;
  bottom: 0px;
  padding-bottom: 32768px;
  margin-bottom: -32768px;
  z-index: 0;
  display: block;
  font-size: 16px;
}

.sidebar a {
  color: #000000;
}

.nav-border {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  margin-top: 0px;
}

.user-section {
  padding: 10px;
}

.user-section-img img {
  width: 100px;
  height: 100px;
}

.search-section {
  padding: 10px;
}

.search-icon {
  font-size: 20px;
}

.link-section {
  font-size: 16px;
}

.link-section a {
  padding-left: 10px;
}

.link-section-icon {
  padding-right: 10px;
  padding-left: 30px;
}

.color-orange {
 color: #DA6A03;
}

.acme-sidebar-text {
}
