<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h3>User Profile</h3>
  <button type="button" class="btn btn-warning" ng-click="sendRequest('/request/create')">依頼する</button>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="pull-right">
        <div class="caption">
          <p><img src="assets/images/{{user.image_file_name}}" alt="sound of network icon" width="130" class="img-thumbnail"></p>
          <p>プロフィール画像</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <h4>名前</h4>
      <hr>
      <p>{{user.name}}</p>
      <hr>
      <h4>活動エリア</h4>
      <hr>
      <div ng-repeat="area in user.area">
        <p>・{{area.area_name}}</p>
      </div>
      <hr>
      <h4>依頼料</h4>
      <hr>
      <p>1,000 ポイント 〜</p>
    </div>
  </div>
  <h4>自己紹介</h4>
  <hr>
  {{user.description}}
  <hr>
  <acme-skillset></acme-skillset>
  <hr>
  </p>
</div>
