<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h3>プロフィール詳細</h3>
  <button type="button" class="btn btn-warning" ng-click="sendRequest('/request/create')">依頼する</button>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <center>
        <p><img src="assets/images/{{user.image_file_name}}" width="130" alt="sound of network icon" class="img-thumbnail"></p>
        <p>プロフィール画像</p>
      </center>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">自己紹介</h3>
        </div>
        <div class="panel-body">
          {{user.description}}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">名前</h3>
        </div>
        <div class="panel-body">
          {{user.name}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">設定している依頼料</h3>
        </div>
        <div class="panel-body">
          Free
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">活動エリア</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="area in user.area">
            <p>・{{area.area_name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">スキルセット</h3>
        </div>
        <div class="panel-body">
          <acme-skillset></acme-skillset>
        </div>
      </div>
    </div>
  </div>
</div>
